Repository brc-dd/animated-tailwindcss: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, prettier-package-json --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*": "prettier --write --ignore-unknown",
  "package*.json": "prettier-package-json --write",
  "*.ts": "eslint --fix --max-warnings 0"
}

feat: add jit support
  .eslintrc
  index.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings 0

fix(regression): issues due to CSS specificity
  index.ts
  tsconfig.json
  types/index.d.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings 0

chore: reorder settings
  .vscode/settings.json
Due: prettier --write --ignore-unknown

docs: add configuration example
  .eslintrc
  README.md
  tsconfig.json
Due: prettier --write --ignore-unknown

docs: update contributing.md
  CONTRIBUTING.md
  README.md
Due: prettier --write --ignore-unknown

docs: add arbitrary value support
  .eslintrc
  CONTRIBUTING.md
  README.md
  index.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings 0

chore: drop support for older tailwindcss versions
  package-dist.json
  package.json
Due: prettier --write --ignore-unknown, prettier-package-json --write

chore: release v2.3.0
  CHANGELOG.md
  package-dist.json
Due: prettier --write --ignore-unknown, prettier-package-json --write

fix: broken config for tw v1
  README.md
  index.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings 0

chore: release v2.3.1
  CHANGELOG.md
  package-dist.json
Due: prettier --write --ignore-unknown, prettier-package-json --write

chore: remove eslint ignore - CSS is no longer a global type
  index.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings 0

fix: major refactor
  .eslintrc
  .todo
  README.md
  build
  package.json
  src/index.ts
  src/keyframes.ts
  src/utilities.ts
  tsconfig.json
  types/index.d.ts
  yarn.lock
Due: prettier --write --ignore-unknown, prettier-package-json --write, eslint --fix --max-warnings 0

fix: major refactor (#36)
  .eslintrc
  .todo
  README.md
  build
  package.json
  src/index.ts
  src/keyframes.ts
  src/utilities.ts
  tsconfig.json
  types/index.d.ts
  yarn.lock
Due: prettier --write --ignore-unknown, prettier-package-json --write, eslint --fix --max-warnings 0

chore: fix build script
  README.md
  build
  package.json
  src/keyframes.ts
  src/utilities.ts
  yarn.lock
Due: prettier --write --ignore-unknown, prettier-package-json --write, eslint --fix --max-warnings 0

fix: attempt to fix shopt not found
  .yarnrc
  build
  lint
Due: prettier --write --ignore-unknown

chore: fix build script (#37)
  .yarnrc
  README.md
  build
  lint
  package.json
  src/keyframes.ts
  src/utilities.ts
  yarn.lock
Due: prettier --write --ignore-unknown, prettier-package-json --write, eslint --fix --max-warnings 0

feat: improved workflow and build/lint scripts
  .eslintrc
  .github/workflows/ci.yml
  .lintstagedrc.json
  .todo
  .vscode/settings.json
  .yarnrc
  build
  build.ts
  lint
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write --ignore-unknown, prettier-package-json --write, eslint --fix --max-warnings 0

chore: improve workflow and build/lint scripts (#38)
  .eslintrc
  .github/workflows/ci.yml
  .lintstagedrc.json
  .todo
  .vscode/settings.json
  .yarnrc
  build
  build.ts
  lint
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write --ignore-unknown, prettier-package-json --write, eslint --fix --max-warnings 0

chore: drop support for tw less than v1.6
  .todo
  README.md
  package-dist.json
Due: prettier --write --ignore-unknown, prettier-package-json --write

chore: release v2.3.2
  CHANGELOG.md
  package-dist.json
Due: prettier --write --ignore-unknown, prettier-package-json --write

fix: partial animate.css refactor
  .todo
  src/index.ts
  src/keyframes.ts
  src/utilities.ts
  types/index.d.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings 0

fix: partial animate.css refactor (#39)
  .todo
  src/index.ts
  src/keyframes.ts
  src/utilities.ts
  types/index.d.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings 0

feat: add accessibility support
  .todo
  src/index.ts
  src/keyframes.ts
  src/utilities.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings 0

feat: add accessibility support (#40)
  .todo
  src/index.ts
  src/keyframes.ts
  src/utilities.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings 0

fix: restore accessibility support and improve docs
  .todo
  README.md
  package.json
  src/index.ts
  src/keyframes.ts
  yarn.lock
Due: prettier --write --ignore-unknown, prettier-package-json --write, eslint --fix --max-warnings 0

Update README.md
  README.md
Due: prettier --write --ignore-unknown

fix: restore accessibility support and improve docs (#46)
  .todo
  README.md
  package.json
  src/index.ts
  src/keyframes.ts
  yarn.lock
Due: prettier --write --ignore-unknown, prettier-package-json --write, eslint --fix --max-warnings 0

docs: fix grammar
  README.md
Due: prettier --write --ignore-unknown

docs: remove emphasis
  README.md
Due: prettier --write --ignore-unknown

feat: better type definitions
  package.json
  src/index.ts
  src/keyframes.ts
  types/index.d.ts
  yarn.lock
Due: prettier --write --ignore-unknown, prettier-package-json --write, eslint --fix --max-warnings 0

feat: better type definitions (#47)
  package.json
  src/index.ts
  src/keyframes.ts
  types/index.d.ts
  yarn.lock
Due: prettier --write --ignore-unknown, prettier-package-json --write, eslint --fix --max-warnings 0

docs: update readme
  README.md
Due: prettier --write --ignore-unknown

feat: bundle along type definitions
  build.ts
  package-dist.json
  tsconfig.json
  types/ambient.d.ts
  types/base.d.ts
Due: prettier --write --ignore-unknown, prettier-package-json --write, eslint --fix --max-warnings 0

chore: regenerate lockfile
  yarn.lock
Due: prettier --write --ignore-unknown

feat: bundle along type definitions (#48)
  build.ts
  package-dist.json
  tsconfig.json
  types/ambient.d.ts
  types/base.d.ts
  yarn.lock
Due: prettier --write --ignore-unknown, prettier-package-json --write, eslint --fix --max-warnings 0

chore: release v2.4.0
  CHANGELOG.md
  package-dist.json
Due: prettier --write --ignore-unknown, prettier-package-json --write

fix: add definitions to files array
  package-dist.json
Due: prettier --write --ignore-unknown, prettier-package-json --write

chore: release v2.4.1
  CHANGELOG.md
  package-dist.json
Due: prettier --write --ignore-unknown, prettier-package-json --write

fix: missing exports in index.d.ts
  build.ts
Due: prettier --write --ignore-unknown, eslint --fix --max-warnings 0

chore: release v2.4.2
  CHANGELOG.md
  package-dist.json
Due: prettier --write --ignore-unknown, prettier-package-json --write
